# all files and folders are to be ignored...
/*

# except those following
!.gitignore
!add_direntry.cpp
!check_dir_empty.cpp
!CMakeLists.txt
!delete_direntry.cpp
!get_direntry.cpp
!rename_direntry.cpp
!traverse_path.cpp
