header :
#include<stdio.h>
end

calls:
    call "first":
        init
		apply
        vars:
            "var1" : int [-150 : 150] "msg"
            "var2" : string [1:] ""
        end
        methods:
            [] : "gdbs"
            [var1] : "fasfsa"
        end
    end

    call "second":
		init
		apply
        vars:
            "arg1" : double [0:] "errroo"
            "arg2" : string [:] ""
        end
        methods:
            [] : "gdbs"
            [arg1, arg3] : "fasfsa"
        end
    end
end