<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>ZapFlix &nbsp;&nbsp;|&nbsp;&nbsp; Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/single.css" rel='stylesheet' type='text/css' />
<link href="../static/css/medile.css" rel='stylesheet' type='text/css' />
<!-- banner-slider -->
<link href="../static/css/jquery.slidey.min.css" rel="stylesheet">
<!-- //banner-slider -->
<!-- pop-up -->
<link href="../static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<link rel="shortcut icon" type="image/png" href="../static/images/popcorn.ico" />
<!-- js -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- banner-bottom-plugin -->
<link href="../static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<script src="../static/js/owl.carousel.js"></script>
<script>
	$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
	 
		  autoPlay: 3000, //Set AutoPlay to 3 seconds
	 
		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]
	 
		});
	 
	}); 
</script> 
<!-- //banner-bottom-plugin -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body xmlns:moviesdb="http://moviesDB.com/">
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="/"><h1>Zap<span>Flix</span></h1></a>
			</div>
			<div class="w3_search">

				<form action="/list/" method="post" >
					{% csrf_token %}
					<input type="text" name="Search" placeholder="Search" required="">
					<input type="submit" value="Go">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/list">List</a></li>
                            <li><a href="/stats">Stats</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>
	</div>
<!-- //nav -->
<!-- banner -->
	<div id="slidey" style="display:none;">
		<ul>
			{% for element in recentList %}
				<li about="{{ element.uri }}" typeof="moviesdb:entity/doc">
                    <span property="moviesdb:predicate/poster" content="{{element.poster}}">
                        <img src="{{element.poster}}" alt=" ">
                    </span>
                    <p class='title'>
                        <span property="moviesdb:predicate/title" content="{{element.title}}">
                            {% if element.type == "Movie" %}
                                <a href="/movie/{{element.docid}}">
                            {% else %}
                                <a href="/series/{{element.docid}}">
                            {% endif %}
                            {{element.title}}</a>
                        </span>
                    </p>
                    <p class='description'>
                        <span property="moviesdb:predicate/type" content="{{element.type}}">
                            {{element.type}}
                        </span>
                        <br>
                        {% for genre in element.genres %}
                            {% if forloop.counter == element.genres|length %}
                                <span about="{{ genre.uri }}" typeof="moviesdb:entity/genre" property="moviesdb:entity/name" content="{{ genre.name }}"><a href="/list?genre={{genre.name}}">{{genre.name}}</a></span>
                            {% else %}
                                <span about="{{ genre.uri }}" typeof="moviesdb:entity/genre"  property="moviesdb:entity/name" content="{{ genre.name }}"><a href="/list?genre={{genre.name}}">{{genre.name}}</a></span>,
                            {% endif %}
                        {% endfor %}
                    </p>
                </li>
			{% endfor %}
		</ul>
    </div>
    <script src="../static/js/jquery.slidey.js"></script>
    <script src="../static/js/jquery.dotdotdot.min.js"></script>
	   <script type="text/javascript">
			$("#slidey").slidey({
				interval: 8000,
				listCount: 5,
				autoplay: false,
				showList: true
			});
			$(".slidey-list-description").dotdotdot();
		</script>
<!-- //banner -->
<!-- general -->
	<div class="general">
		<h4 class="latest-text w3_latest_text">Featured Movies</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							{% for item in bestRatingMovies %}
							<div class="col-md-2 w3l-movie-gride-agile" about="{{ item.uri }}" typeof="moviesdb:entity/doc">
                                <span property="moviesdb:predicate/docid" content="{{item.docid}}"></span>
                                <span property="moviesdb:predicate/poster" content="{{item.poster}}"></span>
								{% if item.type == "Movie" %}
									<a href="/movie/{{item.docid}}" class="hvr-shutter-out-horizontal">
								{% else %}
									<a href="/series/{{item.docid}}" class="hvr-shutter-out-horizontal">
								{% endif %}
								<img src="{{item.poster}}" title="album-name" alt=" " height="250" width="175" />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6 property="moviesdb:predicate/title" content="{{item.title}}">
											{% if item.type == "Movie" %}
												<a href="/movie/{{item.docid}}">
											{% else %}
												<a href="/series/{{item.docid}}">
											{% endif %}{{ item.title }}</a></h6>
                                        <span property="moviesdb:predicate/type" content="{{item.type}}"></span>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p property="moviesdb:predicate/year">{{item.year}}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
                                            <span property="moviesdb:predicate/imdb_rating" content="{{item.imdb_rating.0}}"></span>
											{% for i in '13579'|make_list %}
												{% widthratio forloop.counter 1 2 as v %}
												{% if item.imdb_rating.0 == 'N/A' %}
													{% if forloop.counter == 1 %}
														{{item.imdb_rating.0}}
													{% endif %}
												{% elif item.imdb_rating.0 >= v and v != '10' %}
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
												{% elif item.imdb_rating.0 > i %}
													<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
												{% else %}
													<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												{% endif %}
											{% endfor %}
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								{% if last.year >= '2010' %}
									<div class="ribben">
										<p>NEW</p>
									</div>
								{% endif %}
							</div>
							{% if forloop.counter == 6 %}
									<div class="clearfix"> </div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<h4 class="latest-text w3_latest_text">Featured Series</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							{% for item in bestRatingSeries %}
							<div class="col-md-2 w3l-movie-gride-agile" about="{{ item.uri }}" typeof="moviesdb:entity/doc">
                                <span property="moviesdb:predicate/docid" content="{{item.docid}}"></span>
                                <span property="moviesdb:predicate/poster" content="{{item.poster}}"></span>
								{% if item.type == "Movie" %}
									<a href="/movie/{{item.docid}}" class="hvr-shutter-out-horizontal">
								{% else %}
									<a href="/series/{{item.docid}}" class="hvr-shutter-out-horizontal">
								{% endif %}
								<img src="{{item.poster}}" title="album-name" alt=" " height="250" width="175" />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6 property="moviesdb:predicate/title" content="{{item.title}}">
											{% if item.type == "Movie" %}
												<a href="/movie/{{item.docid}}">
											{% else %}
												<a href="/series/{{item.docid}}">
											{% endif %}{{ item.title }}</a></h6>
                                        <span property="moviesdb:predicate/type" content="{{item.type}}"></span>
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p property="moviesdb:predicate/year">{{item.year}}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
                                            <span property="moviesdb:predicate/imdb_rating" content="{{item.imdb_rating.0}}"></span>
											{% for i in '13579'|make_list %}
												{% widthratio forloop.counter 1 2 as v %}
												{% if item.imdb_rating.0 == 'N/A' %}
													{% if forloop.counter == 1 %}
														{{item.imdb_rating.0}}
													{% endif %}
												{% elif item.imdb_rating.0 >= v and v != '10' %}
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
												{% elif item.imdb_rating.0 > i %}
													<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
												{% else %}
													<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												{% endif %}
											{% endfor %}
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								{% if last.year >= '2010' %}
									<div class="ribben">
										<p>NEW</p>
									</div>
								{% endif %}
							</div>
							{% if forloop.counter == 6 %}
									<div class="clearfix"> </div>
								{% endif %}
							{% endfor %}
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //general -->
<!-- Latest-tv-series -->
	<div class="Latest-tv-series">
		<h4 class="latest-text w3_latest_text w3_home_popular">Most Popular Movies & Series</h4>
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li about="{{ mostVotesList.0.uri }}" typeof="moviesdb:entity/doc">
							<div class="agile_tv_series_grid">
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										{% if mostVotesList.0.type == "Movie" %}
											<a href="/movie/{{mostVotesList.0.docid}}">
										{% else %}
											<a href="/series/{{mostVotesList.0.docid}}">
										{% endif %}
										<img src="{{mostVotesList.0.poster}}" alt=" "  height="315px"/></a>
                                        <span property="moviesdb:predicate/docid" content="{{mostVotesList.0.docid}}"></span>
                                        <span property="moviesdb:predicate/poster" content="{{mostVotesList.0.poster}}"></span>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									{% if mostVotesList.0.type == "Movie" %}
										<a href="/movie/{{mostVotesList.0.docid}}">
									{% else %}
										<a href="/series/{{mostVotesList.0.docid}}">
									{% endif %}
											<p class="fexi_header" property="moviesdb:predicate/title">{{mostVotesList.0.title}}</p></a>
									<p class="fexi_header_para"><span>Type<label>:</label></span><span property="moviesdb:predicate/type" content="{{ mostVotesList.0.type }}"><a href='/list?type={{mostVotesList.0.type}}'> {{mostVotesList.0.type}}</a></span></p>
									<p class="fexi_header_para"><span>Year<label>:</label></span><span property="moviesdb:predicate/year" content="{{ mostVotesList.0.year }}"><a href='/list?year={{mostVotesList.0.year}}'>{{mostVotesList.0.year}}</a></span></p>
									<p class="fexi_header_para" rel="moviesdb:predicate/genres">
										<span>Genres<label>:</label> </span>
										{% for genre in mostVotesList.0.genres %}
											{% if forloop.counter == mostVotesList.0.genres|length %}
												<span about="{{ genre.uri }}" typeof="moviesdb:entity/genre" property="moviesdb:entity/name" content="{{ genre.name }}"><a href="/list?genre={{genre.name}}">{{genre.name}}</a></span>
											{% else %}
												<span about="{{ genre.uri }}" typeof="moviesdb:entity/genre" property="moviesdb:entity/name" content="{{ genre.name }}"><a href="/list?genre={{genre.name}}">{{genre.name}}</a></span> |
											{% endif %}
										{% endfor %}
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
                                        <span property="moviesdb:predicate/imdb_rating" content="{{mostVotesList.0.imdb_rating.0}}"></span>
										{% for i in '13579'|make_list %}
											{% widthratio forloop.counter 1 2 as v %}
											{% if mostVotesList.0.imdb_rating.0 == 'N/A' %}
												{% if forloop.counter == 1 %}
													{{mostVotesList.0.imdb_rating.0}}
												{% endif %}
											{% elif mostVotesList.0.imdb_rating.0 >= v and v != '10' %}
												<i class="fa fa-star" aria-hidden="true"></i>
											{% elif mostVotesList.0.imdb_rating.0 > i %}
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											{% else %}
												<i class="fa fa-star-o" aria-hidden="true"></i>
											{% endif %}
										{% endfor %}
									</p>
									<p property="moviesdb:predicate/imdb_votes" content="{{mostVotesList.0.imdb_votes}}" class="fexi_header_para fexi_header_para1"><span>Nº Votes<label>:</label></span>
										{{mostVotesList.0.imdb_votes}}
									</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									{% for item in mostVotesList|slice:"1:7" %}
									<div class="col-md-2 w3l-movie-gride-agile" about="{{ item.uri }}" typeof="moviesdb:entity/doc">
                                        <span property="moviesdb:predicate/docid" content="{{item.docid}}"></span>
                                        <span property="moviesdb:predicate/poster" content="{{item.poster}}"></span>
										{% if item.type == "Movie" %}
											<a href="/movie/{{item.docid}}" class="hvr-shutter-out-horizontal">
										{% else %}
											<a href="/series/{{item.docid}}" class="hvr-shutter-out-horizontal">
										{% endif %}
										<img src="{{item.poster}}" title="album-name" alt=" " height="250"/>
											<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
										</a>
										<div class="mid-1 agileits_w3layouts_mid_1_home">
											<div class="w3l-movie-text">
                                                <h6  property="moviesdb:predicate/title" content="{{item.title}}">
												{% if item.type == "Movie" %}
													<a href="/movie/{{item.docid}}">{{item.title}}</a></h6>
												{% else %}
													<a href="/series/{{item.docid}}">{{item.title}}</a></h6>
												{% endif %}
                                                <span property="moviesdb:predicate/type" content="{{item.type}}"></span>
											</div>
											<div class="mid-2 agile_mid_2_home">
												<p property="moviesdb:predicate/year">{{item.year}}</p>
												<div class="block-stars">
													<ul class="w3l-ratings">
                                                        <span property="moviesdb:predicate/imdb_rating" content="{{item.imdb_rating.0}}"></span>
														{% for i in '13579'|make_list %}
															{% widthratio forloop.counter 1 2 as v %}
															{% if item.imdb_rating.0 == 'N/A' %}
																{% if forloop.counter == 1 %}
																	{{item.imdb_rating.0}}
																{% endif %}
															{% elif item.imdb_rating.0 >= v and v != '10' %}
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
															{% elif item.imdb_rating.0 > i %}
																<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
															{% else %}
																<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
															{% endif %}
														{% endfor %}
													</ul>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										{% if last.year >= '2010' %}
											<div class="ribben">
												<p>NEW</p>
											</div>
										{% endif %}
									</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" property="" />
				<script defer src="../static/js/jquery.flexslider.js"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
	</div>
	<!-- pop-up-box -->  
		<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--//pop-up-box -->
	<div id="small-dialog" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
	</div>
	<div id="small-dialog1" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/148284736"></iframe>
	</div>
	<div id="small-dialog2" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
	</div>
	<script>
		$(document).ready(function() {
		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
																		
		});
	</script>
<!-- //Latest-tv-series -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="col-md-6 w3ls_footer_grid_left">
				</div>
				<div class="col-md-6 w3ls_footer_grid_right">
					<a href="/"><h2>Zap<span>Flix</span></h2></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>&copy; 2020 ZapFlix. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
			<div class="col-md-7 w3ls_footer_grid1_right">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/list">List</a>
					</li>
					<li>
						<a href="/stats">Stats</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>