# all files and folders are to be ignored...
/*

# except those following
!.gitignore
!alloc_data_block.cpp
!alloc_inode.cpp
!CMakeLists.txt
!deplete_tail_cache.cpp
!free_data_block.cpp
!free_inode.cpp
!replenish_head_cache.cpp
